<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading"> <span style="color: #000000">
          <p>
            {{ site.author | escape }}
          </p>
          </span> </h2>
          <ul class="contact-list">

            <li> Institut für Theoretische Physik </li>
            <li> Goethe Universität Frankfurt am Main </li>
            <li> Max-von-Laue-Straße 1 </li>
            <li> 60438 Frankfurt am Main </li>
            <li> +49 (0)69 798 47885 </li>

            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
        <i> © 2020-2022 Raphaël Duqué </i>

      </div>
      <div class="footer-col footer-col-2">
        <p><i> <img src="{{site.url}}/img/sponsors.png" width=100% height=auto/></i></p>
      </div>
    </div>
  </div>
</footer>
